html, body {
    width: 100%;
    height: 100%;
}
body {
    background-color: #222222;
    margin: 0;
    padding: 0;

}
.aboutAgency{
    background: url(aboutAgencyLayer.png) no-repeat;
    width: 1600px;
    height: 100%;
    min-height: 866px;
    max-height: 1082px;
    margin: 0 auto;
}
/* header with logo and list and icons*/
.header {
    margin: 0;
    border-bottom: 1px solid rgba(245,245,245, .38);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    height: 120px;

 }
/*logo*/
.whiteBox {
    background-color: rgb( 255, 255, 255 );
    opacity: 0.749;
    position: absolute;
    margin-left: 230px;
    margin-top: 30px;
    width: 67px;
    height: 67px;

}

.blueBox {
    background-color: rgb( 17, 116, 158 );
    position: absolute;
    margin-left: 218px;
    margin-top: 22px;
    width: 67px;
    height: 67px;


}

.cs {
    font-size: 38.349px;
    font-family: "OpenSans", sans-serif;
    color: white;
    font-weight: bold;
    margin-left: 225px;
    margin-top: 32px;
    position: absolute;
}
/*navigation list*/
.headerUl {
    font-family: 'Encode Sans Expanded', sans-serif;
    color: rgb(255, 255, 255);
    list-style: none;
    padding: 0;
    float: right;
    margin: 0 50px 0 0;
}

.headerUl>li {
    display: inline-block;
    float: right;
    font-size:20px;
    margin: 45px 25px 0 0;
    padding-bottom: 45px;
}
/* border with hover*/
.headerUl>li:hover{
    border-bottom: 5px solid rgb( 17, 116, 158 );
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
}


/* название, авторство, скролдаун и кружок с шевроном*/
.nameCreatives {
    font-family: 'Gotham', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 154px;
    letter-spacing: -5px;
    margin-top: 270px;
    display: block;
    text-align: center;
}
.poweredBy{
    font-family: 'Gotham', sans-serif;
    font-weight: medium;
    color: rgb( 17, 116, 158 );
    letter-spacing: 12px;
    font-size: 24.7px;
    display: block;
    text-align: center;
}
.scrollDown {
    font-family: "OpenSans", sans-serif;
    color: white;
    font-size: 13px;
    display: block;
    text-align: center;
    margin-top: 120px;
}
.circle {
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 30px;
    line-height: 60px;
    margin: 25px auto 100px;

}
.chevron{
    color:white;
    display: block;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.circle:hover{
    background-color: rgba(255,255,255, .15);
}
